/* .list-admin-menu {
  list-style-type: none;
}
.list-admin-menu li {
  padding: 0.5rem;
  font-weight: bold;
  color: cadetblue;
  cursor: pointer;
  opacity: 0.6;
}
.list-admin-menu li:hover {
  opacity: 1;
}
.menu {
  margin-top: 5rem;
}

.dashboard {
  margin-left: 0 !important;
  height: 100;
}
.menu h3 {
  font-weight: bold;
  color: cadetblue;
  border-bottom: 1px solid cadetblue;
  border-top: 1px solid cadetblue;
  padding: 0.3rem;
} */
.admin-wrapper {
  margin-top: 200px;
}
.dashboard {
  border-right: 1px solid lightseagreen;
}
