.body-invoice-list {
  margin-top: 200px;
}
.invoice-item {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}
.header-invoice-item {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.footer-invoice-item {
  background-color: #f2f2f2;
}
.img-invoice-item {
  width: 45px;
  height: 70px;
}
.capital-sum-invoice-item {
  display: flex;
  border: none;
  font-weight: bold;
  padding: 1rem;
  color: coral;
  font-size: 1rem;
}
.capital-sum-invoice-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  margin-right: 1rem;
  margin-bottom: 0;
}
.capital-sum-invoice-item h6 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: coral;
}
.date-time {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}
.state-done {
  color: green;
}
.state-waitting {
  color: rgb(180, 180, 13);
}
.state-cancel {
  color: red;
}
.state-delivering {
  color: rgb(0, 174, 255);
}
.state {
  font-size: 1.5rem;
  color: #555;
}
#cancel-button {
  background-color: brown;
}
#cancel-button:hover {
  background-color: rgb(226, 123, 26);
}
.search-filter,
.col {
  border: none !important;
}
.buy {
  border: none !important;
}
.total-row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
