.login-form {
  position: fixed;
  z-index: 2;
  background-color: ghostwhite;
  border-radius: 3rem;
  transition: opacity 60ms;
  right: 37rem;
  top: 6rem;
  width: 36rem !important;
}
.login-form p {
  margin-top: -0.2rem;
  margin-left: 0.5rem;
}
.require {
  display: none;
  color: red;
  padding: 0;
  height: 1rem;
}
#username,
#password,
#usernameSU,
#passwordSU,
#check-exist,
#confirm-pass,
#image,
#address {
  display: none;
}
.title-login {
  color: cadetblue;
  font-weight: bold;
}
.button-login {
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: cadetblue;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.button-login:hover {
  background-color: rgb(69, 114, 116);
  transition: 3ms;
}
.exit-login {
  color: cadetblue !important;
}
.link-signup {
  cursor: pointer;
  color: cornflowerblue;
  font-weight: bold;
}
.link-signup:hover {
  color: rgb(78, 114, 180);
}
.class-del button {
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 1rem;
  font-weight: bold;
  background-color: brown;
  border: none;
  font-size: 1.2rem;
}
.class-del button:hover {
  background-color: rgb(90, 12, 12);
}
.class-del button:active {
  outline: none;
}
#rv {
  display: none;
}
.donesignup h4 {
  color: green;
  font-weight: bold;
}
#donesu {
  display: none;
}
#imagedata {
  display: none !important;
  width: 200px !important;
}
.imgbutton {
  font-weight: bold !important;
}
