.login-form {
  position: fixed;
  z-index: 2;
  background-color: ghostwhite;
  border-radius: 3rem;
  transition: opacity 60ms;
  right: 37rem;
  top: 8rem;
  width: 36rem !important;
}
.login-form p {
  margin-top: -0.2rem;
  margin-left: 0.5rem;
}
.require {
  display: flex;
  margin: 0.8rem 0 0.1rem 0;
  color: red;
}
#username,
#password,
#check {
  display: none;
}
