.buttonChangePape {
  margin: 0.2rem;
  height: 2rem;
  width: 2rem;
  color: cadetblue;
  font-weight: bold;
  border: 1px solid cadetblue;
  background-color: white;
  border-radius: 15%;
}
.buttonChangePape:hover {
  background-color: cadetblue;
  color: azure;
}
