.product {
  margin: 20px 0px 20px 0px;
  padding: 1.5rem 0 3rem 0;
  height: 90%;
  border: 1px solid transparent;
}
.product:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  z-index: 1;
}
.img {
  height: 230px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.name {
  padding: 5px;
  display: flex;
  align-content: center;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #064532;
}
.author {
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #828185;
}

.price {
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: brown;
}

.button {
  height: 45px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.button button {
  background-color: #bd4e4e;
  color: #fff;
  width: 10rem;
  height: 2.5rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
}
.button button:hover {
  background-color: brown;
  color: #fff;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
}
