.product {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
}
.product:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  z-index: 1;
}
.img {
  height: 230px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.name-author {
  height: 4.5rem;
  margin-bottom: 0.5rem;
}
.name {
  display: flex;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #064532;
}
.longname {
  font-size: 0.7rem !important;
}
.author {
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #828185;
}

.price {
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: goldenrod;
}

.button {
  height: 45px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.button button {
  background-color: cadetblue;
  color: #fff;
  width: 10rem;
  height: 2.5rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
}
.button button:hover {
  background-color: rgb(75, 124, 126);
  color: #fff;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
}

.button button:focus {
  outline: none;
}
